@page "/home"


@inject AuthStateProvider AuthStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world! </h1>

Welcome to your new app.


<AuthorizeView>
	<Authorizing>
		<p>Authorizing....</p>
	</Authorizing>
	<NotAuthorized>
		<p>Anonim User..</p>
	</NotAuthorized>
	<Authorized>
		<p>Authorized : @context.User.Claims.FirstOrDefault(c=>c.Type == ClaimTypes.Name)?.Value</p>
		<p>@AuthStateProvider.User?.userName</p>
		<p>@AuthStateProvider.User?.id</p>
		<p>@AuthStateProvider.User?.roleId</p>
	</Authorized>
</AuthorizeView>

@code {

}