@inject ICategoryApi CategoryApi
@inject NavigationManager Navigation
@inject AuthStateProvider AuthStateProvider


<div class="top-row ps-3 navbar navbar-dark navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="">ItirafEt.Web</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">

		<AuthorizeView Context="LoggedInContext">
			<Authorized>
				<AuthorizeView Roles="@allowedRoles">
					<hr class="border-3 border-white opacity-75">

					<div class="nav-item px-3">
						<NavLink class="nav-link" href="/admin/adminastorPanel">
							<div class="d-flex align-items-center gap-2">
								<span class="bi bi-speedometer d-inline-flex align-items-center" style="font-size: 1.4rem"></span>
								<span class="fs-6">Yönetim Paneli</span>
							</div>
						</NavLink>
					</div>		
					<hr class="border-3 border-white opacity-75">

				</AuthorizeView>
			</Authorized>
		</AuthorizeView>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/home">
				<div class="d-flex align-items-center gap-2">
					<span class="bi bi bi-house-door-fill d-inline-flex align-items-center" style="font-size: 1.4rem"></span>
					<span class="fs-6">Ana Sayfa</span>
				</div>
			</NavLink>
		</div>
		@* 		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill" aria-hidden="true" style="font-size: 1.5rem"></span> Home
			</NavLink>
		</div> *@

		@foreach (var category in _categories)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="@category.Id">
					<div class="d-flex align-items-center gap-2">
						<span class="@category.CategoryIconUrl d-inline-flex align-items-center" style="font-size: 1.4rem"></span>
						<span class="fs-6">@category.CategoryName</span>
					</div>
				</NavLink>
			</div>
		}

	</nav>
</div>

@code {
	private bool collapseNavMenu = true;
	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private List<CategoryDto> _categories = new List<CategoryDto>();
	private HubConnection _hubConnection { get; set; }

	protected override async Task OnInitializedAsync()
	{

		_hubConnection = new HubConnectionBuilder()
			.WithUrl("https://localhost:7292/categoryhub")
			.WithAutomaticReconnect()
			.Build();

		_hubConnection.On("CategoryChanged", async () =>
			{
				_categories = await CategoryApi.GetAllActiveCategoryAsycn();
				StateHasChanged(); 
			});

		await _hubConnection.StartAsync();

		_categories = await CategoryApi.GetAllActiveCategoryAsycn();

	}

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private string allowedRoles = string.Join(",",
		nameof(UserRoleenum.SuperAdmin),
		nameof(UserRoleenum.Admin),
		nameof(UserRoleenum.Moderator));

}
