.blue {
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
}

.btn-custom:hover {
    background: linear-gradient(135deg, #3a5599 0%, #121d38 100%);
    box-shadow: 0 4px 15px rgba(24, 119, 242, 0.3);
    transform: translateY(-1px);
}

.btn-custom {
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    color: white;
    border-radius: 8px;
    transition: all 0.1s ease;
    padding: 8px 16px;
    border: none;
}

.btn-custom-circle {
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    color: white;
    transition: all 0.1s ease;
    border: none;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-custom-circle:hover {
        background: linear-gradient(135deg, #3a5599 0%, #121d38 100%);
        box-shadow: 0 4px 15px rgba(24, 119, 242, 0.3);
        transform: translateY(-1px);
    }

.red {
    background: linear-gradient(135deg, #e52d27 0%, #b31217 100%);
}

.btn-custom-red {
    background: linear-gradient( 135deg, #e52d27 0%, #b31217 100% );
    color: white;
    border-radius: 8px;
    transition: all 0.1s ease;
    padding: 8px 16px;
    border: none;
}

.btn-custom-red-circle {
    background: linear-gradient(135deg, #e52d27 0%, #b31217 100%);
    color: white;
    transition: all 0.1s ease;
    border: none;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-custom-red:hover {
    background: linear-gradient( 135deg, #e52d27 0%, #b31217 100% );
    box-shadow: 0 4px 15px rgba(224, 24, 24, 0.3);
    transform: translateY(-1px);
}

.btn-custom-red-circle:hover {
    background: linear-gradient( 135deg, #e52d27 0%, #b31217 100% );
    box-shadow: 0 4px 15px rgba(224, 24, 24, 0.3);
    transform: translateY(-1px);
}

.btn-custom-reverse {
    background: linear-gradient(315deg, #4b6cb7 0%, #182848 100%);
    color: white;
    border-radius: 8px;
    transition: all 0.1s ease;
    padding: 12px 24px;
    border: none;
}

    .btn-custom-reverse:hover {
        background: linear-gradient(315deg, #3a5599 0%, #121d38 100%);
        box-shadow: 0 4px 15px rgba(24, 119, 242, 0.3);
        transform: translateY(-1px);
    }


.btn-custom-orange-circle {
    background: linear-gradient(135deg, #ff9800 0%, #e65100 100%);
    color: white;
    transition: all 0.1s ease;
    border: none;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-custom-orange-circle:hover {
        background: linear-gradient(135deg, #fb8c00 0%, #d84315 100%);
        box-shadow: 0 4px 15px rgba(255, 152, 0, 0.3);
        transform: translateY(-1px);
    }