.profile-photo {
    transition: all 0.1s ease;
    object-fit: cover;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

    .profile-photo:hover {
        transform: scale(1.15);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

.btn-profile {
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    color: white;
    border: 1px solid #ccc;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    opacity: 0.9;
}

.btn-profile-red {
    background: linear-gradient( 135deg, #e52d27 0%, #b31217 100% );
    color: white;
    border: 1px solid #ccc;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    opacity: 0.9;
}

    .profile-photo.hovered,
    .btn-profile.hovered {
        transform: scale(1.15);
        box-shadow: 0 4px 15px rgba(24, 119, 242, 0.3);
    }

.profile-photo.hovered,
.btn-profile-red.hovered {
    transform: scale(1.15);
    box-shadow: 0 4px 15px rgba(24, 119, 242, 0.3);
}

.image-area {
    flex: 1 1 auto;
    /*height: calc(100vh - 70px);*/ /* Alt kısmın yüksekliğine göre ayarlayabilirsin */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 0;
}

.responsive-image {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
