@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ISignalRService SignalRService
@inject IDeviceService DeviceService
@inject IJSRuntime JSRuntime


<div class="page bg-secondary-subtle container-fluid p-0">
	<NavMenu />
	<div class="position-relative flex-grow-1" style="min-height: calc(100vh - 56px);">

			<div class="container-fluid h-100 p-0">
				<div class="d-flex h-100">
				@if (_showVerticalAds)
				{
								<div class="col-2 d-none d-lg-flex justify-content-center position-relative">
									<div style="position: fixed;
										top: 50%;
										transform: translateY(-50%);
										height: calc(100dvh - 120px);
										width: inherit;
										z-index: 1000;
										display: flex;
										justify-content: center;
										align-items: center;">
										<div class="h-100 d-flex flex-column justify-content-center align-items-center">
											<img src="_content/ItirafEt.SharedComponents/Ads/Adsiz.png" />
										</div>
									</div>
								</div>

				}
					<div class="col-12 col-lg-8 p-0 mx-auto" style="padding-bottom:@(!_showBottomAds ? "0" : "100px !important")">
						<div class="col mx-auto px-2 px-lg-0">
						@Body
						</div>
					</div>
				@if (_showVerticalAds)
				{
								<div class="col-2 d-none d-lg-flex justify-content-center position-relative">
									<div style="position: fixed;
										top: 50%;
										transform: translateY(-50%);
										height: calc(100dvh - 120px);
										width: inherit;
										z-index: 1000;
										display: flex;
										justify-content: center;
										align-items: center;">
										<div class="h-100 d-flex flex-column justify-content-center align-items-center">
											<img src="_content/ItirafEt.SharedComponents/Ads/Adsiz.png" />
										</div>
									</div>
								</div>
				}

				</div>
			</div>

	</div>


	@if (_showBottomAds)
	{
		@* 		<div class="w-100 bg-dark text-white text-center p-2" style="position: fixed; bottom: 0; left: 0; z-index: 1030;">
			Ads Footer
		</div> *@

				<!-- Footer reklam: laptop ve üstü -->
		@if (!_isMobile)
		{
							<div class="d-flex justify-content-center fixed-bottom" style="z-index: 1030;">
								<div class="bg-dark text-white text-center"
									 style="
					width: 970px;
					height: 90px;
					line-height: 90px;">
									Ads Footer
								</div>
							</div>
		}
		else
		{
							<div class="d-flex justify-content-center fixed-bottom" style="z-index: 1030;">
								<div class="bg-dark text-white text-center"
									 style="
					width: 320px;
					height: 100px;
					line-height: 100px;">
									Ads Footer
								</div>
							</div>
		}
	}
</div>


@code {

	private string _currentPath = "";
	private string _previousPath = "";
	private int _adsCounter = 1;
	private bool _hideAdsInSpecialPages = false;
	private bool _showVerticalAds = false;
	private bool _showBottomAds = false;
	private bool _isMobile = false;


	protected override async Task OnInitializedAsync()
	{

		AdjustAdsDisplay();

		await DeviceService.InitializeAsync();
		_isMobile = DeviceService.IsMobile;

		UpdateCurrentPath();
		_previousPath = _currentPath;

		NavigationManager.LocationChanged += OnLocationChanged;

		await InvokeAsync(StateHasChanged);
	}

	private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
	{
		_previousPath = _currentPath;
		UpdateCurrentPath();

		if (_previousPath != _currentPath)
			_adsCounter++;

		AdjustAdsDisplay();
		InvokeAsync(StateHasChanged);

	}

	private void UpdateCurrentPath()
	{
		_currentPath = NavigationManager
			.ToBaseRelativePath(NavigationManager.Uri)
			.TrimEnd('/')
			.ToLowerInvariant();

	}

	private void AdjustAdsDisplay()
	{
		_showBottomAds = true;
		_showVerticalAds = !_isMobile;
	}
}
