@inherits LayoutComponentBase
@inject AuthStateProvider AuthStateProvider
@inject NavigationManager NavigationManager


<div class="page bg-secondary-subtle container-fluid p-0">
	<NavMenu />
		<div class="position-relative flex-grow-1" style="min-height: calc(100vh - 56px);">
			@if (AuthStateProvider.IsInitializing)
			{
				<p>Initializing State ... </p>
			}
			else
			{
				@Body
			}
		</div>
</div>


@code {

	protected override async Task OnInitializedAsync()
	{
		while (AuthStateProvider.IsInitializing)
			await Task.Delay(500);
	}
}
