@page "/forgot-password"

@inject IAuthApi AuthApi

<div class="py-5">
	<div class="row mx-0">
		<div class="col-lg-8 mx-auto my-auto border shadow-lg p-4 rounded bg-light">

			<div class="mt-3">
				<h1 class="text-center h3">Kayıt Ol</h1>
			</div>
			<hr />

			<EditForm Model="_forgotPaswordViewModel"
					  OnValidSubmit="SendResetEmailAsync">
				<DataAnnotationsValidator />

				<div class="my-3">
					<label class="form-label">Kullanıcı Adı veya Email Adresi:</label>
					<InputText @bind-Value="_forgotPaswordViewModel.UserNameOrEmailAdres" class="form-control" />
					<ValidationMessage For="()=> _forgotPaswordViewModel.UserNameOrEmailAdres" />
				</div>

				<ValidationMessage For="()=> _forgotPaswordViewModel.UserNameOrEmailAdres" />

				<div class="d-grid mb-3">
					@if (!_isBusy)
					{
						<button type="submit" class="btn-custom-orange col-lg">Şifremi Unuttum <i class="bi bi-question-lg"></i> </button>
					}
					else
					{
						<button class="btn-custom-orange col-lg" type="button" disabled>
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
							İşleminiz Devam Ediyor...
						</button>
					}
				</div>

			</EditForm>
		</div>


		@if (_errorMessage != null)
		{
			<div class="mb-3 text-bg-danger text-white p-2 rounded">
				<p class="mb-0">@_errorMessage</p>
			</div>
		}
		@if (_succersMessage != null)
		{
			<div class="mb-3 text-bg-success text-white p-2 rounded">
				<p class="mb-0">@_succersMessage</p>
			</div>
		}


	</div>
</div>

@code {

	private ForgotPaswordViewModel _forgotPaswordViewModel = new();
	private bool _isBusy = false;
	private string? _errorMessage;
	private string? _succersMessage;

	private async Task SendResetEmailAsync()
	{

	}
}