.profile-photo {
    transition: all 0.1s ease;
    object-fit: cover;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

    .profile-photo:hover {
        transform: scale(1.15);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
